<div class="form-row">
  <div class="col">
    <div class="form-group">
      <%= label_tag 'address', "Address", class: "form-header-bold" %>
      <%= text_field_tag 'address', nil, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="col">
    <div id="map"
      style="width: 100%;"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<div class="form-row">
  <div class="col">
    <div class="form-group">
      <%= label_tag 'zip_code', "ZIP code", class: "form-header-bold" %>
      <%= text_field_tag 'zip_code', nil, class: 'form-control' %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= label_tag 'city', "City", class: "form-header-bold" %>
      <%= text_field_tag 'city', nil, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="col col-sm-6">
    <div class="form-group">
      <%= label_tag 'country', "Country", class: "form-header-bold" %>
      <%= text_field_tag 'country', nil, class: 'form-control' %>
    </div>
  </div>
</div>
