<div class="footer">
  <div class="footer-border">
    <div></div><div class="footer-border-top"></div><div></div>
  </div>
  <div class="footer-content">
    <section class="footer-header">
      <section class="footer-logo">
        <%= link_to  root_path do %>
          <%= image_tag "http://res.cloudinary.com/seguraocode/image/upload/v1632693702/logo.png" %>
        <% end %>
      </section>
      <section class="footer-menu">
        <%= link_to 'HOME', root_path %>
        <% @all_categories.each do |category| %>
            <%= link_to category_path(category) do %>
              <%= category.name.upcase %>
            <% end %>
        <% end %>
      </section>
    </section>
    <section class="footer-mission">
      <p>Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we’re open 7 days a week.</p>
      <div class="links-hidden">
        <ul class="list-inline mb-0">
          <li class='list-inline-item footer-link'>
            <%= link_to "https://github.com/dedemenezes/rails-audiophile" do %>
              <i class="fab fa-github-square"></i>
            <% end %>
          </li>
          <li class='list-inline-item footer-link'>
            <%= link_to "https://github.com/dedemenezes/rails-audiophile" do %>
              <i class="fab fa-twitter-square"></i>
            <% end %>
          </li>
          <li class='list-inline-item footer-link'>
            <%= link_to "https://github.com/dedemenezes/rails-audiophile" do %>
              <i class="fab fa-instagram-square"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </section>
    <section class="footer-bottom">
      <p class='footer-copyright'>Copyright 2021. All Rights Reserved</p>
      <div class="footer-links">
        <ul class="list-inline mb-0">
          <li class='list-inline-item footer-link'>
            <i class="fab fa-facebook-square"></i>
          </li>
          <li class='list-inline-item footer-link'>
            <i class="fab fa-twitter-square"></i>
          </li>
          <li class='list-inline-item footer-link'>
            <i class="fab fa-instagram-square"></i>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
