<nav class="nav-main nav-bg">
  <div class="all-time-visible">
    <div class="my-menu-icon" id="menu-trigger">
      <p class="line"></p>
      <p class="line"></p>
      <p class="line"></p>
    </div>

    <%= link_to  root_path do %>
      <%= image_tag "http://res.cloudinary.com/seguraocode/image/upload/v1632693702/logo.png" %>
    <% end %>

    <div class="nav-menu" id="menu-action">
      <%= link_to  "Home", root_path, class: "navbar-link mx-4" %>
      <%= link_to  "Headphones", category_path(Category.find_by(name: 'headphones')), class: "navbar-link mx-4" %>
      <%= link_to  "Speakers", category_path(Category.find_by(name: 'speakers')), class: "navbar-link mx-4" %>
      <%= link_to  "Earphones", category_path(Category.find_by(name: 'earphones')), class: "navbar-link mx-4" %>
    </div>

    <%= link_to cart_path(@cart.id) do %>
      <%= image_tag "http://res.cloudinary.com/seguraocode/image/upload/v1632693479/icon-cart.png" %>
    <% end %>
  </div>
    <%= render  "shared/nav_mobile_menu" %>
</nav>
