<nav class="nav-main nav-bg">
  <div class="all-time-visible">
    <div class="my-menu-icon" id="menu-trigger">
      <p class="line"></p>
      <p class="line"></p>
      <p class="line"></p>
    </div>

    <%= link_to  root_path do %>
      <%= image_tag "http://res.cloudinary.com/seguraocode/image/upload/v1632693702/logo.png" %>
    <% end %>

    <div class="nav-menu">
      <%= link_to  "Home", root_path, class: "navbar-link mx-4" %>
      <% @all_categories.each do |category| %>
        <%= link_to  category.name.capitalize, category_path(category), class: "navbar-link mx-4" %>

      <% end %>
    </div>

    <div id="cart">
      <div id="number-holder">
        <% unless @cart.products.empty? %>
          <%= render 'cart_products/cart_items', cart: @cart %>
        <% end %>
      </div>
      <%= link_to cart_path(@cart.id) do %>
        <%= image_tag "http://res.cloudinary.com/seguraocode/image/upload/v1632693479/icon-cart.png" %>
      <% end %>
    </div>
  </div>
    <%= render  "shared/nav_mobile_menu" %>
</nav>
