<nav class="nav-main nav-bg">
  <div class="my-menu">
    <p class="line"></p>
    <p class="line"></p>
    <p class="line"></p>
  </div>
  <a href="#">
    <%= image_tag 'logo'%>
  </a>
  
  <div class="nav-menu">
    <a href="#" class="navbar-link mx-4">Home</a>
    <a href="#" class="navbar-link mx-4">Headphones</a>
    <a href="#" class="navbar-link mx-4">Speakers</a>
    <a href="#" class="navbar-link mx-4">Earphones</a>
  </div>
  <a href="#">
    <%= cl_image_tag "https://res.cloudinary.com/seguraocode/image/upload/v1632598142/icon-arrow.svg"%>
  </a>
</nav>

<div class="main-banner">
  <div class="banner-content">
    <p class='third-header'>NEW PRODUCT</p>
    <h1 class="main-header">XX99 Mark II Headphones</h1>
    <p class='sub-header'>Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.</p>
    <%= link_to  "See product", product_path(Product.find_by(name: 'XX99 Mark II Headphones')), class: 'home-btn' %>
  </div>
</div>

<div class="container">
  <div class="cards row">
    <% @categories.each do |category| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-product">
          <%= cl_image_tag category.photo.key, width: '45%', class: 'card-image' %>
          <h3 class="card-title"><%= category.name.upcase %></h3>
          <div class="bottom-link d-flex align-items-center justify-content-center">
            <%= link_to  "Shop", category_path(category), class: 'card-link mr-2' %>
            <%= image_tag 'icon-arrow-right' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="top-speaker">
    <div class="row">
      <div class="col-xs-12">
        <%= cl_image_tag @top_products[:first].photos.first.key, width: '70%', class: 'card-image' %>
        <p><%= @top_products[:first].name %></p>
      </div>
    </div>
  </div>
</div>

<div class="second-speaker" style="background-image: url('<%= cl_image_tag @top_products[:second].photos.first.key %>')">
  <div class="row">
    <div class="col-xs-12">
      <p><%= @top_products[:second].name %></p>
    </div>
  </div>
</div>


