<%= render 'shared/banner' %>

<div class="container">
  <%= render 'shared/category_cards' %>
  <div class="bg-orange top-item">
    <%= image_tag Cloudinary::Utils.cloudinary_url("speaker-zx9"), width: '50%', class: '' %>
    <p class='top-item-name'><%= @top_two[:first].name.upcase %></p>
    <p class='top-item-description'>Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
    <%= link_to  "SEE PRODUCT", '#', class: 'black-button' %>
  </div>

  <div class="second-speaker" style="background-image: url(<%= Cloudinary::Utils.cloudinary_url(@top_two[:second].get_gallery_images('mobile').third.filename)%>)">
    <p><%= @top_two[:second].name.upcase %></p>
    <%= link_to  "SEE PRODUCT", product_path(@top_two[:second]), class: 'black-button' %>
  </div>

  <div class="top_earphone">
    <%= image_tag Cloudinary::Utils.cloudinary_url(@top_earphone.get_gallery_images('mobile').first.filename), width: '100%', style: 'border-radius: 8px;' %>
    <div class="earphone-content">
      <p><%= @top_earphone.small_name.upcase %></p>
      <%= link_to  "SEE PRODUCT", product_path(@top_earphone), class: 'outline-btn' %>
    </div>
  </div>
</div>


