<div class="container">
  <div class="summary">
    <% if @cart.is_empty? %>
      <%= link_to '#', class: 'close-icon' do %>
        <%= icon('fas', 'times') %>
      <% end %>
      <p class='cart-empty'>Your shopping cart is empty. </p>
    <% else %>
      <h2>SUMMARY</h2>
      <%= render @cart.cart_products %>
      <%#= Al this extracted into a partial named _cart_product NO LOOP INSIDE THE PARTIAL!!  %>
      <% if false %>
        <% @cart.cart_products.each do |cart_product| %>
          <% product = cart_product.product %>
          <div class="checkout-card">
            <%= cl_image_tag product.get_main_image(session[:device]).key, width: '25%', radius: 100 %>
            <div class="checkout-content">
              <p><%= product.name.gsub(" #{product.category.name.capitalize}", "") %></p>
              <p class='product-price'><%= product.price_to_s %></p>
            </div>
            <div class="card-action">
              <p class='gray-text'>x<%= cart_product.quantity %></p>
              <%= link_to cart_product_path(cart_product), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="total summary-checkout">
        <p class='gray-text'>TOTAL:</p>
        <p class='bold-n-black'><%= @cart.total_price %></p>
      </div>
      <div class="shipping summary-checkout">
        <p class='gray-text'>Shipping:</p>
        <p class='bold-n-black'><%= @cart.total_price %></p>
      </div>
      <div class="vat summary-checkout">
        <p class='gray-text'>Vat:</p>
        <p class='bold-n-black'><%= @cart.total_price %></p>
      </div>
      <div class="grand-total summary-checkout">
        <p class='gray-text'>Grand-total:</p>
        <p class='bold-n-black'><%= @cart.total_price %></p>
      </div>
      <button class="home-btn"></button>
    <% end %>
  </div>
</div>
