<div class="container ">
  <ul>
    <% @category.products.each_with_index do |product, index| %>
      <li id="category-product">
        <div class="product-card">

          <%= image_tag "product-#{image_folder_name(product)}/#{session[:device]}/image-product.jpg", class: 'product-image' %>
          <div class="product-content">
            <h3><%= product.name %></h3>
            <p><%= product.description %></p>
            <%= link_to  "SEE PRODUCT", category_product_path(@category, product), id: 'bg-black-click', class: 'home-btn' %>
          </div>
        </div>
      </li>

      <% if @category.products.size - 1 == index %>
  </ul>
  <%= render 'products/product_may_like', product: product %>
      <% end %>
    <% end %>
</div>
