<div class="product-card">
  <%= image_tag "product-#{image_folder_name(@product)}/#{session[:device]}/image-product.jpg", class: 'product-image' %>
  <div class="product-description">
    <% if @product.new? %>
      <h4 class='product-new'>NEW PRODUCT</h4>
    <% end %>
    <h3><%= @product.name %></h3>
    <p><%= @product.description %></p>
    <p class='price'><%= number_to_currency(@product.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></p>
    <div class="product-action">
      <%= link_to 'Add to cart', cart_products_path(product_id: @product.id), method: 'POST', remote: true, id: 'bg-black-click', class: 'home-btn' %>
    </div>
  </div>
</div>
