<div class="container">
  <%= render 'product_card', product: @product %>
  <%= render 'features', product: @product %>
  <%= render 'product_photos', product: @product %>
  <%= render 'product_may_like', product: @product %>
  <div class="cards">
    <%= render @categories %>
  </div>
</div>
