<div class="container">
  <div class="product-card">
    <%= cl_image_tag @product.get_main_image('mobile').key, class: 'product-image' %>
    <div class="product-description">
      <% if @product.new %>
        <h4 class='product-new'>NEW PRODUCT</h4>
      <% end %>
      <h3><%= @product.name %></h3>
      <p><%= @product.description %></p>
      <p class='price'><%= @product.price_to_s %></p>
      <div class="product-action">
        <span>NEED TO BE INPUT</span>
        <%= link_to  "Add to cart", "#", class: 'home-btn' %>
      </div>
    </div>
  </div>
  <div class="product-features">
  
  </div>
</div>
