<div class="container">
  <div class="product-card">
    <%= cl_image_tag @product.get_main_image('mobile').key, class: 'product-image' %>
    <div class="product-description">
      <% if @product.new? %>
        <h4 class='product-new'>NEW PRODUCT</h4>
      <% end %>
      <h3><%= @product.name %></h3>
      <p><%= @product.description %></p>
      <p class='price'><%= @product.price_to_s %></p>
      <div class="product-action">
        <%= link_to 'Add to cart', cart_products_path(product_id: @product.id), method: 'POST', class: 'home-btn' %>
      </div>
    </div>
  </div>
  <div class="product-features">
    <div class="features">
      <h3>FEATURES</h3>
      <%= simple_format @product.features, class: "features-content gray-text" %>
    </div>
    <div class="in-the-box">
      <h3>IN THE BOX</h3>
      <ul>
        <% @product.pieces.each do |piece|  %>
          <li class='piece-list'>
            <span class="piece-amount"><%= piece.amount %>x</span> <span class="piece-name gray-text"><%= piece.name_display %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="product-photos">
    <div class="photos-column">
      <%= cl_image_tag  @product.get_gallery_images('mobile').first.key, width: '100%' %>
      <%= cl_image_tag  @product.get_gallery_images('mobile').second.key, width: '100%' %>
    </div>
    <div class="main-image-gallery" style="background-image: url('<%= Cloudinary::Utils.cloudinary_url(@product.get_gallery_images('desktop').third.filename) %>')"></div>
  </div>

  <h3 class='section-header'>YOU MAY ALSO LIKE</h3>
  <div class="may-like">
    <% Product.may_like_random(@product).sample(3).each do |product| %>
      <div class="may-like-card">
        <%= image_tag Cloudinary::Utils.cloudinary_url(product.get_main_image('mobile').filename), width: '100%' %>
        <p class='small-name'><%= product.small_name %></p>
        <%= link_to  "SEE PRODUCT", product_path(product), class: 'may-like-btn' %>
      </div>
    <% end %>
  </div>
  <%= render 'shared/category_cards' %>
</div>
